# middle protein feature files
*.pdb
*.hhm
*.dssp
*.rasa
*.ss

# middle output
*.pyc
*.model
*.npy
datasets/middlefile/fasta/
datasets/final/
datasets/raw/
datasets/cleaned/
datasets/protein_embedding/
datasets/protein_embedding_fix/
experiment/baseline_exp/model/
experiment/exp_stability_prediction/images/
experiment/exp_stability_prediction/images_hpc/
experiment/exp_stability_prediction/merged_images/
experiment/exp_stability_prediction/images_est1500/
model/images/

# middle scripts
preprocess/test.py
training_MEMO_stab_noDA.py

