# middle protein feature files
*.pdb
*.hhm
*.dssp
*.rasa
*.ss

# middle output
*.pyc
*.model
*.npy
datasets/middlefile/fasta/
datasets/final/
datasets/raw/
datasets/cleaned/
datasets/protein_embedding/
datasets/protein_embedding_fix/
experiment/baseline_exp/model/
model/images/
model/weights_noda/
model/weights_da_rev/
model/weights_da_rev_non/

# middle scripts
preprocess/test.py
training_MEMO_stab_noDA.py

